.image {
  width: 22rem;
}

.item {
  margin: 0 1rem 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(159, 48, 48);
  max-width: 20rem;
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.card:hover {
  background-color: rgb(217, 0, 0);
}

@media only screen and (max-width: 480px) {
  .image {
    width: 20rem;
  }

  .card {
    max-width: 18rem;
  }
}
